.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.message{
-webkit-box-shadow: 7px 0px 21px 13px rgba(0,0,0,0.60);
-moz-box-shadow: 7px 0px 21px 13px rgba(0,0,0,0.60);
box-shadow: 7px 0px 21px 13px rgba(0,0,0,0.60);
}

.header-img{
  width: 100%;
  height: 200px;
  background-image: url("./headerbg.jpg");
  background-color: green;
}

.navbar{
  background-color: #333;
  overflow: hidden;
}

.navbutton{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.message{
  padding:20px;
  margin: 50px;
}


.form-container{
  padding:20px;
  margin: 50px;
}