.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.message{
-webkit-box-shadow: 7px 0px 21px 13px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 0px 21px 13px rgba(0,0,0,0.75);
box-shadow: 7px 0px 21px 13px rgba(0,0,0,0.75);
}

.header-img{
  width: 100%;
  height: 200px;
  background-image: url("./headerbg.jpg");
  background-color: green;

}

.navbar{
  width: 100%;
  height: 50;
  background-color: #F8F8F8;
}